nav li a{
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  transition: all 0.3s;
}
nav li{
  list-style: none;
  margin: 1rem;
}
nav{
  display: flex;
  justify-content: center;
  
}
#root{
  width: 80%;
  margin: auto;
}
.Hide{
  margin: 1rem;
}
input{
  margin: 0.5rem;
  padding: 0.3rem;
  
}
.counter{
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter button{
  border: none;
  background-color: #fff;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}
.counters{
  margin-top:3rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counters h1{
  font-size: 3rem;
}
.counters button{
  margin: 1rem;
  background-color: #d8d8d8;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.557);
  color: #000;
  border: none;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}
.counters button:hover{
  box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.557), 1px 1px 10px;
}
.DataBinding{
  margin-top:3rem  ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.DataBinding input {
  border: none;
  background-color: #eaeaea;
  outline: none;
  padding: 0.7rem 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
}
.show{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
}
.show div button{
  margin: 1rem;
  background-color: #d8d8d8;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.557);
  color: #000;
  border: none;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}
.show p{
  font-size: 2rem;
}
a:hover{
  color: #000;
  background-color: #00000022;
}
.child{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0.5rem;
  background-color: antiquewhite;
  padding: 0 0.5rem ;
  
}
.child button{
  width: 20%;
}

p{
  padding: 0;
  margin: 0;
}